<div class="account-control">
    <div class="menu-control">
        <div class="avatar">
            <div class="user-avatar" title="Avatar-user">
                <p id="user-text">?</p>
            </div>
            <p id="code-client" title="Mã khách">Ma_khach</p>
        </div>
        <ul>
            <li class="general-menu menu">Thông tin chung</li>
            <li class="address-menu menu">Địa chỉ giao hàng</li>
            <li class="order-menu menu">Đơn hàng</li>
            <li class="voucher-menu menu">Khuyến mãi</li>
            <li id="logout"><i class='bx bx-log-out-circle'></i>Đăng xuất</li>
        </ul>
    </div>

    <div class="content-account">
        <div class="content-general content-acc">
            <form>
                <div>
                    <label for="name">Họ và tên</label>
                    <input type="text" id="name" name="hoten" placeholder="Họ và tên">
                </div>
                <div>
                    <label for="gender">Giới tính</label>
                    <div>
                        <input type="radio" id="male" name="gioitinh" value="1">
                        <label for="male">Nam</label>
                        <input type="radio" id="female" name="gioitinh" value="0">
                        <label for="female">Nữ</label>
                    </div>
                </div>
                <div>
                    <label for="phone">Số điện thoại</label>
                    <input type="text" id="phone" name="sodienthoai" placeholder="Số điện thoại">
                </div>
                <div>
                    <label for="phone">Email</label>
                    <input type="text" id="email" name="mail" placeholder="Email">
                </div>
                <div>
                    <label for="address">Địa chỉ</label>
                    <input type="text" id="address" name="diachi" placeholder="Địa chỉ">
                </div>
                <div class="change-password">
                    <a href="#">
                        <i class='bx bx-key'></i>
                        Đổi mật khẩu
                    </a>
                </div>
                <div class="button">
                    <button id="save-changes">Lưu thay đổi</button>
                </div>
            </form>
        </div>

        <div class="content-address content-acc">

            <!-- ng-repeat: repeat address -->
            <!-- <div class="item-address">

                ng-if: check default address
                <div class="view-control-default" title="Địa chi mặc định">
                    <i class='bx bx-map'></i>
                </div>

                <div class="content-item-address">
                    <div class="information-client">
                        <h3>Ho_Ten</h3>
                        <span>So_dien_thoai</span>
                    </div>

                    <div class="address-client">
                        <p>Dia_chi</p>
                    </div>
                </div>

                <div class="remove-address" ng-if="check_default">
                    <button>
                        <i class='bx bx-trash'></i>
                    </button>
                </div>
            </div> -->

            <div class="item-address" ng-repeat="ttgh in listTTGH">

                <!-- ng-if: check default address -->
                <div class="view-control-default">
                    <div ng-if="check_default">
                        <i class='bx bx-map' title="Địa chi mặc định"></i>
                    </div>
                </div>

                <div class="content-item-address">
                    <div class="information-client">
                        <h3>{{ttgh.tenNguoiNhan}}</h3>
                        <span>{{ttgh.sdtNguoiNhan}}</span>
                    </div>

                    <div class="address-client">
                        <p>{{ttgh.dcNguoiNhan}}</p>
                    </div>
                </div>

                <div class="remove-address" ng-if="!check_default">
                    <button ng-click="delete(ttgh)">
                        <i class='bx bx-trash'></i>
                    </button>
                </div>
            </div>

            <!-- add new address -->
            <div class="add-new-address">
                <button id="add-new-address-account">
                    <i class='bx bx-plus-circle'></i>
                    Thêm địa chỉ
                </button>
            </div>
        </div>

        <div class="content-order content-acc">
            <div class="item-order"> <!--ng-repeat-->
                <div class="img-item">
                    <img
                        src="https://myphamnhatonline.com/Uploaded_products/img_product_small/vien-uong-trang-da-dhc-20.jpg">
                </div>
                <div class="content-item">
                    <h3>Tên sản phẩm</h3>
                    <div class="text-content-item">
                        <p>Giá: ₫---</p>
                        <p>Số lượng: ---</p>
                    </div>
                </div>
                <div class="btn-detail-item">
                    <a href="#">
                        <i class='bx bx-info-circle' style="color: rgb(75, 170, 255);"></i>
                        Xem chi tiết
                    </a>
                </div>
            </div>

            <div class="item-order"> <!--ng-repeat-->
                <div class="img-item">
                    <img
                        src="https://myphamnhatonline.com/Uploaded_products/img_product_small/vien-uong-trang-da-dhc-20.jpg">
                </div>
                <div class="content-item">
                    <h3>Tên sản phẩm</h3>
                    <div class="text-content-item">
                        <p>Giá: ₫---</p>
                        <p>Số lượng: ---</p>
                    </div>
                </div>
                <div class="btn-detail-item">
                    <a href="#">
                        <i class='bx bx-info-circle' style="color: rgb(75, 170, 255);"></i>
                        Xem chi tiết
                    </a>
                </div>
            </div>
            <div class="item-order"> <!--ng-repeat-->
                <div class="img-item">
                    <img
                        src="https://myphamnhatonline.com/Uploaded_products/img_product_small/vien-uong-trang-da-dhc-20.jpg">
                </div>
                <div class="content-item">
                    <h3>Tên sản phẩm</h3>
                    <div class="text-content-item">
                        <p>Giá: ₫---</p>
                        <p>Số lượng: ---</p>
                    </div>
                </div>
                <div class="btn-detail-item">
                    <a href="#">
                        <i class='bx bx-info-circle' style="color: rgb(75, 170, 255);"></i>
                        Xem chi tiết
                    </a>
                </div>
            </div>
        </div>

        <div class="detail-order">
            <div class="detail-product"></div>
            <div class="detail-client"></div>
            <div class="detail-evaluate"></div>
        </div>

        <div class="content-voucher content-acc">
            <div class="filter-voucher">
                <input type="text" id="search-voucher" placeholder="Tìm kiếm khuyến mãi">
                <button class="btn-voucher">Tìm</button>
            </div>
            <div class="list-voucher">
                <div class="item-voucher"> <!-- ng-repeat: load list voucher-->
                    <div class="img-item-vc">
                        <i class='bx bxs-discount'></i>
                    </div>
                    <div class="main-item-vc">
                        <div class="title-item-vc">
                            <h4>Title</h4>
                        </div>
                        <div class="content-item-vc">
                            <p class="condition">Đơn tối thiểu ---</p>
                            <small class="expiration-date">Ngày hết: dd/mm/yyyy</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay-address"></div>

<div class="loader"></div>

<div class="form-add-new-address">
    <div class="close-popup-address">
        <i class='bx bx-collapse' title="Đóng"></i>
    </div>
    <form>
        <div>
            <label for="">Họ và tên</label>
            <input type="text" id="name-new-address" name="hoten" placeholder="Họ và tên">
        </div>
        <div>
            <label for="">Số điện thoại</label>
            <input type="text" id="phone-new-address" name="sodienthoai" placeholder="Số điện thoại">
        </div>
        <div>
            <label for="">Địa chỉ</label>
            <input type="text" id="address-new-address" name="diachi" placeholder="Địa chỉ">
        </div>
        <button id="btn-new-submit">Xác nhận</button>
    </form>
</div>