<div class="account-control">
    <div class="menu-control">
        <div class="avatar">
            <div class="user-avatar" title="Avatar-user">
                <p id="user-text">?</p>
            </div>
            <p id="code-client" title="Mã khách">Ma_khach</p>
        </div>
        <ul>
            <li class="general-menu menu">Thông tin chung</li>
            <li class="address-menu menu">Địa chỉ giao hàng</li>
            <li class="order-menu menu">Đơn hàng</li>
            <li class="voucher-menu menu">Khuyến mãi</li>
            <li id="logout"><i class='bx bx-log-out-circle'></i>Đăng xuất</li>
        </ul>
    </div>

    <div class="content-account">
        <div class="content-general content-acc">
            <form>
                <div>
                    <label for="name">Họ và tên</label>
                    <input type="text" id="name" name="hoten" placeholder="Họ và tên">
                </div>
                <div>
                    <label for="gender">Giới tính</label>
                    <div>
                        <input type="radio" id="male" name="gioitinh" value="1">
                        <label for="male">Nam</label>
                        <input type="radio" id="female" name="gioitinh" value="0">
                        <label for="female">Nữ</label>
                    </div>
                </div>
                <div>
                    <label for="phone">Số điện thoại</label>
                    <input type="text" id="phone" name="sodienthoai" placeholder="Số điện thoại">
                </div>
                <div>
                    <label for="phone">Email</label>
                    <input type="text" id="email" name="mail" placeholder="Email">
                </div>
                <div>
                    <label for="address">Địa chỉ</label>
                    <input type="text" id="address" name="diachi" placeholder="Địa chỉ">
                </div>
                <div class="change-password">
                    <a href="#">
                        <i class='bx bx-key'></i>
                        Đổi mật khẩu
                    </a>
                </div>
                <div class="button">
                    <button id="save-changes">Lưu thay đổi</button>
                </div>
            </form>
        </div>

        <div class="content-address content-acc">
            <div class="item-address" ng-repeat="ttgh in listTTGH">
                <div class="view-control-default">
                    <div ng-if="check_default">
                        <i class='bx bx-map' title="Địa chi mặc định"></i>
                    </div>
                </div>

                <div class="content-item-address">
                    <div class="information-client">
                        <h3>{{ttgh.tenNguoiNhan}}</h3>
                        <span>{{ttgh.sdtNguoiNhan}}</span>
                    </div>

                    <div class="address-client">
                        <p>{{ttgh.dcNguoiNhan}}</p>
                    </div>
                </div>

                <div class="remove-address" ng-if="!check_default">
                    <button ng-click="delete(ttgh)">
                        <i class='bx bx-trash'></i>
                    </button>
                </div>
            </div>

            <!-- add new address -->
            <div class="add-new-address">
                <button id="add-new-address-account">
                    <i class='bx bx-plus-circle'></i>
                    Thêm địa chỉ
                </button>
            </div>
        </div>

        <div class="content-order content-acc">
            <div class="item-order" ng-repeat="order in listOrder"> <!--ng-repeat="order in listOrder"-->
                <div class="img-item">
                    <img
                        src="https://myphamnhatonline.com/Uploaded_products/img_product_small/vien-uong-trang-da-dhc-20.jpg">
                </div>
                <div class="content-item">
                    <h3>{{order.maHD}}</h3>
                    <div class="text-content-item">
                        <p>Tổng tiền: ₫{{order.thanhTien}}</p>
                        <p>Trạng thái: {{order.trangThai}}</p>
                    </div>
                </div>
                <div class="btn-detail-item">
                    <p class="text-detail-order-acc" data-order-id-acc="{{order.id}}">
                        <i class='bx bx-info-circle' style="color: rgb(75, 170, 255); vertical-align: middle;"></i>
                        Xem chi tiết
                    </p>
                </div>
            </div>
        </div>

        <div class="detail-order">
            <div class="close-orderDtl">
                <i class='bx bx-x' ng-click="closeFormOdDtl()"></i>
            </div>
            <div class="main-orderDtl">
                <h3>Chi tiết đơn hàng</h3>

                <div class="infor-orderDtl">
                    <div>
                        <p><b>Mã đơn hàng:</b> {{detailOrder.maHD}}</p>
                        <p><b>Ngày đặt hàng:</b> {{detailOrder.ngayTao}}</p>
                        <p><b>Trạng thái:</b> {{detailOrder.trangThai == 1? 'Đang chờ xác nhận' : 'Ok'}}</p>
                    </div>

                    <div>
                        <p><b>Người đặt hàng:</b> {{detailOrder.tenNguoiNhan}}</p>
                        <p><b>Số điện thoại:</b> {{detailOrder.sdtNguoiNhan}}</p>
                        <p><b>Địa chỉ:</b> {{detailOrder.diaChiNguoiNhan}}</p>
                    </div>
                </div>

                <p style="font-weight: bold;">Tổng tiền: ₫{{detailOrder.thanhTien}}</p>
            </div>

            <div class="tb-orderDtl">
                <div class="item-orderDtl" ng-repeat="oDtl in listOdDtl">
                    <img src="" alt="anh">
                    <p>{{oDtl.tenSP}}</p>
                    <p>{{oDtl.soNgaySuDung}} ngày</p>
                    <p>Số lượng: {{oDtl.soLuong}}</p>
                    <p>₫{{oDtl.giaBan}}</p>
                    <p style="color: red;">- ₫{{oDtl.tienGiam}}</p>
                </div>
            </div>

            <div class="cancel-order">
                <div class="reason-cancel">
                    <div class="content-reason">
                        <label for="inp-reason">Lý do</label>
                        <textarea name="text-reason" id="inp-reason"></textarea>
                    </div>
                </div>
                <button class="btn-cancel-order" ng-click="cancelOrder(detailOrder.id)">
                    Hủy đơn hàng
                </button>
            </div>
        </div>

        <div class="content-voucher content-acc">
            <div class="filter-voucher">
                <input type="text" id="search-voucher" placeholder="Tìm kiếm khuyến mãi">
            </div>
            <div class="list-voucher">
                <div class="item-voucher" ng-repeat="vc in listVC">
                    <div class="img-item-vc">
                        <i class='bx bxs-discount'></i>
                        <p><Strong>{{vc.ma}}</Strong></p>
                    </div>
                    <div class="main-item-vc">
                        <div class="title-item-vc">
                            <h4 style="color: rgb(75, 170, 255);">{{vc.ten}}</h4>
                        </div>
                        <div class="content-item-vc">
                            <p class="condition">
                                <b style="color: rgb(60, 60, 60);">Điều kiện:</b> {{vc.dieuKien}}
                            </p>
                            <small class="expiration-date">Ngày hết: {{vc.ngayKetThuc}}</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="overlay-address"></div>

<div class="loader"></div>

<div class="form-add-new-address">
    <div class="close-popup-address">
        <i class='bx bx-collapse' title="Đóng"></i>
    </div>
    <form>
        <div>
            <label for="">Họ và tên</label>
            <input type="text" id="name-new-address" name="hoten" placeholder="Họ và tên">
        </div>
        <div>
            <label for="">Số điện thoại</label>
            <input type="text" id="phone-new-address" name="sodienthoai" placeholder="Số điện thoại">
        </div>
        <div>
            <label for="">Địa chỉ</label>
            <input type="text" id="address-new-address" name="diachi" placeholder="Địa chỉ">
        </div>
        <button id="btn-new-submit">Xác nhận</button>
    </form>
</div>