<div class="evaluate-page">
    <div class="content-evaluate-page">
        <h3>Đánh giá sản phẩm</h3>
        <div class="status-evaluate">
            <div class="eval-noDone eval-selected">
                <p>Chưa đánh giá</p>
            </div>
            <div class="eval-done">
                <p>Đã đánh giá</p>
            </div>
        </div>

        <div class="form-nodone-eval f-evaluate">
            <div ng-if="listNoDone.length == 0 || !listNoDone">
                <h3 style="color: red; text-align: center;">
                    Bạn chưa đánh giá sản phẩm nào
                </h3>
            </div>
            <div ng-if="listNoDone.length >= 0 && listNoDone">
                <div class="item-nodone" ng-repeat="nD in listNoDone">
                    <div class="infor-item-for-eval-nodone">
                        <img ng-src="{{nD.ctsp.anhCTSP && nD.ctsp.anhCTSP.length > 1 ? nD.ctsp.anhCTSP[0] : nD.ctsp.anhCTSP}}"
                            alt="anh sp">
                        <p>{{nD.sp.tenSP}}</p>
                        <p>{{nD.ctsp.soNgaySuDung}} ngày</p>
                    </div>
                    <button class="btn-evaluate" ng-click="takeEvaluate(nD.id)">Đánh giá</button>
                </div>
            </div>
        </div>

        <div class="form-done-aval f-evaluate">
            <div ng-if="listDone.length == 0 || !listDone">
                <h3 style="color: red; text-align: center;">
                    Bạn chưa đánh giá sản phẩm nào
                </h3>
            </div>
            <div ng-if="listDone.length >= 0 && listDone">
                <div class="item-done" ng-repeat="d in listDone">
                    <div class="infor-item-for-eval-done">
                        <img ng-src="{{d.ctsp.anhCTSP && d.ctsp.anhCTSP.length > 1 ? d.ctsp.anhCTSP[0] : d.ctsp.anhCTSP}}"
                            alt="anh sp">
                        <p>{{d.sp.tenSP}}</p>
                        <p>{{d.ctsp.soNgaySuDung}} ngày</p>
                    </div>
                    <div class="star-evaluate-done">
                        <p class="text-result-star">{{d.sao}} <i class='bx bxs-star'></i></p>
                        |
                        <pre class="content-text-evaluate">Đánh giá: {{d.nhanXet}}</pre>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popup-evaluate">
        <div class="content-detail-product">
            <h3>Sản phẩm</h3>
            <div>
                <img src="" alt="anh sp">
                <p>{{detailEval.sp.tenSP}}</p>
                <p>{{detailEval.ctsp.soNgaySuDung}} ngày</p>
            </div>
        </div>
        <hr>
        <div class="evaluate-product">
            <h3>Đánh giá</h3>
            <div class="star-evaluate">
                <div class="icon-star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>

                <div class="result-star">
                    <p class="text-result-star">{{star}} sao</p>
                </div>
            </div>
            <div class="form-evaluate">
                <textarea class="text-evaluate" placeholder="Nội dung đánh giá"></textarea>
                <button class="post-result-avaluate">Gửi đánh giá</button>
            </div>
        </div>
    </div>
</div>

<div class="overlay-eval"></div>