<div class="evaluate-page">
    <div class="content-evaluate-page"></div>
    <div class="popup-evaluate">
        <div class="content-detail-product">
            <h3>Sản phẩm</h3>
            <div>
                <img src="" alt="anh sp">
                <p>Tên sản phẩm</p>
                <p>Loại sản phẩm</p>
            </div>
        </div>
        <hr>
        <div class="evaluate-product">
            <h3>Đánh giá</h3>
            <div class="star-evaluate">
                <div class="icon-star">
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                    <i class='bx bxs-star'></i>
                </div>

                <div class="result-star">
                    <p class="text-result-star">{{star}} sao</p>
                </div>
            </div>
            <div class="form-evaluate">
                <textarea class="text-evaluate" placeholder="Nội dung đánh giá"></textarea>
                <button class="post-result-avaluate">Gửi đánh giá</button>
            </div>
        </div>
    </div>
</div>