<div id="introduce">
    <!-- <hr> -->
    <form action="" id="find">
        <input id="text-find" type="text" placeholder="Tìm kiếm ...">
        <div class="btn-form">
            <button id="btn-loc"><img id="icon-loc" alt="Lọc"
                    src="https://cdn-icons-png.freepik.com/512/8338/8338790.png"></button>
            <button id="btn-find">Tìm kiếm</button>
        </div>
    </form>

    <form action="" id="filter" style="display: none;">
        <div class="category-form">
            <label for="category-filter">Danh mục:</label>
            <div class="select-category">
                <div>
                    <input type="checkbox" id="vitamin">
                    <label for="vitamin">Vitamin</label>
                </div>
                <div>
                    <input type="checkbox" id="cai-thien-da">
                    <label for="cai-thien-da">Cải thiện da</label>
                </div>
                <div>
                    <input type="checkbox" id="cham-soc-suc-khoe">
                    <label for="cham-soc-suc-khoe">Chăm sóc sức khỏe</label>
                </div>
            </div>
        </div>
        <p>|</p>
        <div class="price-form">
            <label for=" price-min">Giá</label>
            <input type=" text" id="price-min" class="price-filter" placeholder="0">
            <p>VND</p>
            <p>-</p>
            <input type="text" id="price-max" class="price-filter" placeholder="1,000,000,000">
            <p>VND</p>
        </div>
    </form>
    <hr>
</div>

<div class="discount-products">
    <div class="title-discount">
        <h3>Sản phẩm được giảm giá</h3>
        <button id="btn-discprd"><a href="#!">Xem thêm</a></button>
    </div>
    <hr>
    <div> <!-- ng-repeat=""-->
        <div class="form-product">
            <div class="ribbon-wrapper hidden">
                <div class="ribbon">-50%</div>
            </div>

            <div class="img">
                <img src="https://bizweb.dktcdn.net/thumb/1024x1024/100/267/273/products/7a93ab6f-b6fb-479a-93a6-3e3a62beb909.png?v=1633583531857"
                    alt="">
                <div class="cart">
                    <div class="option">
                        <button>
                            <svg class="cartIcon" viewBox="0 0 576 512">
                                <path
                                    d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z">
                                </path>
                            </svg>
                        </button>
                        <button><i class='bx bxs-heart'></i></button>
                    </div>
                </div>
            </div>

            <div class="infor-product">
                <div class="name-product">
                    <h4 class="text-name">DHC Vitamin C</h4>
                </div>
                <div class="buy">
                    <div>
                        <p class="price">Giá: 150,000đ</p>
                        <h3 class="price-discount hidden" style="color: red;">Giá ưu đãi: 75,000đ</h3>
                    </div>
                    <a href="#!/information"><button class="button">Mua ngay</button></a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="list-products">
    <div class="title-all">
        <h3>Tất cả sản phẩm</h3>
        <button id="btn-allprd"><a href="#!">Xem thêm</a></button>
    </div>
    <hr>
    <div> <!-- ng-repeat=""-->
        <div class="form-product">
            <div class="ribbon-wrapper hidden">
                <div class="ribbon">-50%</div>
            </div>

            <div class="img">
                <img src="https://bizweb.dktcdn.net/thumb/1024x1024/100/267/273/products/7a93ab6f-b6fb-479a-93a6-3e3a62beb909.png?v=1633583531857"
                    alt="">
                <div class="cart">
                    <div class="option">
                        <button>
                            <svg class="cartIcon" viewBox="0 0 576 512">
                                <path
                                    d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z">
                                </path>
                            </svg>
                        </button>
                        <button><i class='bx bxs-heart'></i></button>
                    </div>
                </div>
            </div>

            <div class="infor-product">
                <div class="name-product">
                    <h4 class="text-name">DHC Vitamin C</h4>
                </div>
                <div class="buy">
                    <div>
                        <p class="price">Giá: 150,000đ</p>
                        <h3 class="price-discount hidden" style="color: red;">Giá ưu đãi: 75,000đ</h3>
                    </div>
                    <button class="button">Mua ngay</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div class="form-product">
    <div class="ribbon-wrapper hidden">
        <div class="ribbon">-50%</div>
    </div>

    <div class="img">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcThLxVqKzn6Kf5MMd8JRkJvqMy5YzwrKe6mpQ&s" alt="">
        <div class="cart">
            <div class="option">
                <button>
                    <svg class="cartIcon" viewBox="0 0 576 512">
                        <path
                            d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96z">
                        </path>
                    </svg> Giỏ hàng
                </button>
                <button>Yêu thích</button>
            </div>
        </div>
    </div>

    <div class="infor-product">
        <div class="name-product">
            <h4 class="text-name">Áo thun MLB Basic Mega</h4>
        </div>
        <div class="buy">
            <div>
                <p class="price">Giá: 150,000đ</p>
                <h3 class="price-discount hidden" style="color: red;">Giá ưu đãi: 75,000đ</h3>
            </div>
            <button class="button">Mua ngay</button>
        </div>
    </div>
</div> -->