<div id="introduce">
    <!-- <hr> -->
    <form action="" id="find">
        <input id="text-find" type="text" placeholder="Tìm kiếm ...">
        <div class="btn-form">
            <button id="btn-find">Tìm kiếm</button>
            <button id="btn-loc"><img id="icon-loc" alt="Lọc"
                    src="https://cdn-icons-png.freepik.com/512/8338/8338790.png"> Lọc</button>
        </div>
    </form>

    <form action="" id="filter" style="display: none;">
        <div class="category-form">
            <label for="category-filter">Danh mục:</label>
            <div class="select-category">
                <div>
                    <input type="checkbox" id="vitamin">
                    <label for="vitamin">Vitamin</label>
                </div>
                <div>
                    <input type="checkbox" id="cai-thien-da">
                    <label for="cai-thien-da">Cải thiện da</label>
                </div>
                <div>
                    <input type="checkbox" id="cham-soc-suc-khoe">
                    <label for="cham-soc-suc-khoe">Chăm sóc sức khỏe</label>
                </div>
                <div>
                    <input type="checkbox" id="khac">
                    <label for="khac">Khác</label>
                </div>
            </div>
        </div>
        <p>|</p>
        <div class="price-form">
            <label for=" price-min">Giá</label>
            <input type=" text" id="price-min" class="price-filter" placeholder="0">
            <p>VND</p>
            <p>-</p>
            <input type="text" id="price-max" class="price-filter" placeholder="1,000,000,000">
            <p>VND</p>
        </div>
    </form>
    <hr>
</div>

<div class="new-products">
    <div class="title-new">
        <h3 id="text-new-product">Sản phẩm mới nhất</h3>
    </div>
    <hr>
    <div ng-if="!noDataNewProduct">
        <div class="form-product"><!-- ng-repeat=""-->
            <div class="ribbon-wrapper hidden">
                <div class="ribbon">-50%</div>
            </div>

            <div class="img">
                <img src="https://media.hcdn.vn/catalog/product/v/i/vien-uong-dhc-bo-sung-vitamin-c-20-ngay-40-vien_img_680x680_d30c8d_fit_center.jpg"
                    alt="">
            </div>

            <div class="infor-product">
                <div class="name-product">
                    <h4 class="text-name">DHC Vitamin C</h4>
                </div>
                <div class="buy">
                    <div>
                        <p class="price">Giá: ₫150,000</p>
                        <h3 class="price-discount hidden" style="color: red;">Giá ưu đãi ₫75,000</h3>
                    </div>
                    <a href="#!/information?sp=${}"><button class="button">Chi tiết</button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="no-data-from-be" ng-if="noDataNewProduct">
        <h3>Chưa làm ahihi :></h3>
    </div>
</div>

<div class="list-products">
    <div class="title-all">
        <h3>Tất cả sản phẩm</h3>
    </div>
    <hr>
    <div class="list-product"> <!-- ng-repeat=""-->
        <div class="form-product" ng-repeat="sp in listSP">
            <div class="ribbon-wrapper hidden">
                <div class="ribbon">-50%</div>
            </div>

            <div class="img">
                <img src="https://bizweb.dktcdn.net/thumb/1024x1024/100/267/273/products/7a93ab6f-b6fb-479a-93a6-3e3a62beb909.png?v=1633583531857"
                    alt="">
            </div>

            <div class="infor-product">
                <div class="name-product">
                    <h4 class="text-name">{{sp.tenSP}}</h4>
                </div>
                <div class="buy">
                    <div>
                        <p class="price">Chỉ từ: ₫{{sp.gia}}</p>
                        <h3 class="price-discount hidden" style="color: red;">Giá ưu đãi ₫75,000</h3>
                    </div>
                    <a href="#!/information?sp={{sp.id}}">
                        <button class="button">Chi tiết</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="no-data-from-be" ng-if="noData">
        <h3>Không có dữ liệu từ backend</h3>
    </div>
    <div class="page">
        <ul class="pagination" id="pagination"></ul>
    </div>
</div>