<div class="detailed-information">
    <div class="image">
        <div class="list-img-category">
            <!-- ng-repeat để hiển thị ảnh -->
            <!-- <div ng-if="listAnh && listAn.lenght > 0"> -->
            <div class="over-img" ng-repeat="lA in listAnh track by $index">
                <img class="img-category" ng-src="{{lA}}">
                <div class="overlay"></div>
                <!-- </div> -->
            </div>
        </div>
        <img id="review-image-product" ng-src="{{listAnh[0]}}">
    </div>
    <div class="description">
        <div class="title-desciption">
            <h3>{{sp.tenThuongHieu}} - {{sp.tenSP}}</h3>
        </div>

        <div class="category-description">
            <div ng-repeat="ctg in categorys">
                <button class="btn-category">{{ctg}} ngày</button>
            </div>
        </div>

        <div class="price-product-in-warehouse">
            <p ng-class="{'text-discount' : sp.giamGia != 0}" style="font-size: 20px; color: rgb(15, 30, 65);">
                Giá: ₫{{giaBanDau}}
            </p>
            <p ng-class="{'hidden' : sp.giamGia == 0}" style="font-size: 20px; color: rgb(255, 70, 70);">
                Giá ưu đãi: ₫{{gia}}
            </p>
        </div>
        <div class="total-product-in-warehouse">
            <smalll style="color: slategrey;">Kho còn: {{soLuong}}</smalll>
        </div>

        <div class="quatity-product">
            <button class="quantity btn-minus" id="btn-minus">-</button>
            <input type="text" class="quantity input-quantity" id="input-quantity" value="1">
            <button class="quantity btn-plus" id="btn-plus">+</button>
        </div>

        <div class="control-description">
            <button class="add-cart" id="btn-add-cart">Thêm vào giỏ</button>
            <button class="buy-now" id="btn-buy-now">Mua luôn</button>
        </div>
    </div>
</div>
<div class="general-information">
    <div class="constituent">
        <div class="title-constituent">
            <h3><i class='bx bx-chevron-down' style="color: black;"></i>Thông tin cơ bản</h3>
        </div>
        <div class="content-constituent">
            <p>- Thành phần: {{sp.thanhPhan}}</p>
            <p>- Công dụng: {{sp.congDung}}</p>
            <p>- Mô tả: {{sp.moTa}}</p>
        </div>
    </div>

    <div class="instructions-for-use">
        <div class="title-instructions">
            <h3><i class='bx bx-chevron-down' style="color: black;"></i>Hướng dẫn sử dụng</h3>
        </div>
        <div class="content-instructions">
            <p>Liều lượng: {{sp.hdsd}}</p>
        </div>
    </div>
    <div class="evaluate">
        <div class="general-evaluate">
            <div class="title-evaluate">
                <h3>Đánh giá sản phẩm</h3>
            </div>
            <div class="content-evaluate">
                <p>Đánh giá: {{danhGia}}<i class='bx bxs-star' style="color: yellow;"></i></p>
                <p>Số lượt đánh giá: {{soLuot}}</p>
            </div>
        </div>
        <div class="comment-evaluate">
            <div class="item-evaluate" ng-repeat="eval in listEvaluate"> <!--ng-repeat: lặp lượt đánh giá-->
                <div class="content-item-eval">
                    <p>{{eval.khachHang.ten}}</p>
                    <p>
                        <ng-container ng-repeat="star in [1,2,3,4,5]">
                            <i class="bx bxs-star" ng-if="star <= eval.sao" style="color: yellow;"></i>

                            <i class="bx bx-star" ng-if="star > eval.sao" style="color: yellow;"></i>
                        </ng-container>
                    </p>
                    <p>{{eval.nhanXet}}</p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>


<div id="effect-add-cart"></div>