<div class="main-notification">
    <h2>Thông báo</h2>

    <div ng-if="check_notification">
        <div ng-repeat="item in list track by $index" class="list-notification">
            <!-- <span>{{ngayGui}}</span> -->
            <div class="notification" ng-click="toggleDetail($index)">
                <p>Title {{$index + 1}}</p>
                <div class="preview-content">
                    <p>Nội dung {{$index + 1}}</p>
                </div>
            </div>

            <!-- Chi tiết nội dung ẩn/hiện theo click -->
            <div class="detail-content" ng-show="showDetail[$index]">
                <p>Detail content {{$index + 1}}</p>
                <button class="claim">Nhận</button>
            </div>
        </div>
    </div>
    <div ng-if="!check_notification" class="no-noti">
        <hr>
        <p>Không có thông báo đâu, vô đây làm chi???</p>
        <hr>
    </div>
</div>