<div class="order">
    <h2 class="text-order">Đơn hàng</h2>
    <div class="form-search">
        <input type="text" id="find-order" placeholder="Tìm kiếm đơn hàng theo số điện thoại">
        <button id="button-search-order">
            Tìm
            <i class='bx bx-search'></i>
        </button>
    </div>
    <div class="content-order">
        <div class="item-order-content" ng-repeat="od in orders"> <!-- ng-repeat-->
            <div class="icon-order">
                <i class='bx bxs-shopping-bags'></i>
                <div class="child-element-order order-id">
                    <span class="text-title-order">Mã đơn</span>
                    <span>{{od.maHD}}</span>
                </div>
            </div>
            <div class="infor-order">
                <div class="child-element-order order-time">
                    <span class="text-title-order">Thời gian đặt hàng</span>
                    <span><b>{{od.ngayTao}}</b></span>
                </div>
                <hr>
                <div class="child-element-order order-pay">
                    <span class="text-title-order">Tổng tiền</span>
                    <span><b>₫{{od.tongTien}}</b></span>
                </div>
                <hr>
                <div class="child-element-order order-status">
                    <span class="text-title-order">Trạng thái</span>
                    <span><b>{{od.trangThai == 0 ? 'Đang chờ xác nhận' : 'Ok'}}</b></span>
                </div>
            </div>
            <div class="btn-detail-order">
                <p class="text-detail-order" data-order-id="{{od.id}}">
                    Xem chi tiết
                    <i class='bx bx-info-circle'></i>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="detail-order">
    <div class="close-orderDtl">
        <i class='bx bx-x' ng-click="closeFormOdDtl()"></i>
    </div>
    <div class="main-orderDtl">
        <h3>Chi tiết đơn hàng</h3>

        <div class="infor-orderDtl">
            <div>
                <p><b>Mã đơn hàng:</b> {{detailOrder.maHD}}</p>
                <p><b>Ngày đặt hàng:</b> {{detailOrder.ngayTao}}</p>
                <p><b>Trạng thái:</b> {{detailOrder.trangThai == 0 ? 'Đang chờ xác nhận' : 'Hoàn thành'}}</p>
            </div>

            <div>
                <p><b>Người đặt hàng:</b> {{detailOrder.tenNguoiNhan}}</p>
                <p><b>Số điện thoại:</b> {{detailOrder.sdtNguoiNhan}}</p>
                <p><b>Địa chỉ:</b> {{detailOrder.diaChiNguoiNhan}}</p>
            </div>
        </div>

        <p style="font-weight: bold;">Tổng tiền: ₫{{tongTienDtl}}</p>
    </div>

    <div class="tb-orderDtl">
        <div class="item-orderDtl" ng-repeat="oDtl in listOdDtl">
            <img src="" alt="anh">
            <p>{{oDtl.tenSP}} ({{oDtl.soNgaySuDung}} ngày)</p>
            |
            <p>Số lượng: {{oDtl.soLuong}}</p>
            |
            <p>₫{{oDtl.giaSauGiam}}</p>
            |
            <p style="color: red;">- ₫{{oDtl.giaBan - oDtl.giaSauGiam}}</p>
        </div>
    </div>
</div>

<div class="over-lay-order"></div>