<div class="pay-layout">
    <!-- ng-if: check nếu không đăng nhập thì hiển thị form cho người mua nhập -->
    <div class="form-input-address" ng-if="!check_account">
        <div class="top-form-address">
            <div class="name-client-for-address">
                <label for="name-client-noLogin" id="name_label_nologin">Họ tên</label>
                <input type="text" id="name-client-noLogin" name="hoten" placeholder="Họ và tên">
            </div>
            <div class="phone-client-for-address">
                <label for="">Số điện thoại</label>
                <input type="text" id="phone-client-noLogin" name="sodienthoai" placeholder="Số điện thoại">
            </div>
        </div>
        <div class="bottom-form-address">
            <label for="">Địa chỉ</label>
            <input type="text" id="address-client-noLogin" name="diachi" placeholder="Địa chỉ">
        </div>
    </div>

    <!-- ng-if: check nếu có đăng nhập -->
    <div class="select-address" ng-if="check_account">
        <div class="select-address-main">
            <div class="icon-map">
                <i class='bx bx-map'></i>
            </div>
            <div class="address-main">
                <div class="infor-client">
                    <p><strong>{{client.ten}}</strong></p>
                    <small>{{client.sdt}}</small>
                </div>
                <div class="address">
                    <p>{{client.diaChi}}</p>
                </div>
            </div>
            <div id="option-add">
                <i class='bx bx-chevron-down'></i>
            </div>
        </div>

        <div class="drop-down-address">
            <hr>
            <div class="list-address-more">
                <div class="select-address-main address-more" ng-repeat="address in list_address_client">
                    <div class="icon-map">
                        <i class='bx bx-map'></i>
                    </div>
                    <div class="address-main">
                        <div class="infor-client">
                            <p><strong>{{address.tenNguoiNhan}}</strong></p>
                            <small>{{address.sdtNguoiNhan}}</small>
                        </div>
                        <div class="address">
                            <p>{{address.dcNguoiNhan}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="add-address">
                <button id="add-new-address">
                    <i class='bx bx-plus-circle'></i>
                    Thêm địa chỉ
                </button>
            </div>
        </div>
    </div>

    <div class="content-pay-product">
        <div class="pay-product">
            <h4>Đơn hàng</h4>
            <div class="list-product-pay">
                <div class="detail-product-pay" ng-repeat="ctdh in list_item_pay"> <!-- ng-repeat -->
                    <div>
                        <h4>{{ctdh.tenSanPhamTrongGio}}</h4>
                        <div class="infor-product-pay">
                            <small>Số lượng: {{ctdh.soLuongTrongGio}}</small>
                            <small>Giá: ₫{{ctdh.gia}}</small>
                        </div>
                    </div>
                    <div class="subtotal">
                        <h4>₫{{ctdh.gia*ctdh.soLuongTrongGio}}</h4>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="voucher-pay">
            <h4>Mã giảm giá</h4>
            <div ng-if="!check_discount" class="check-discount">
                <hr>
                <p>Rất tiếc! Bạn chưa sở hữu mã giảm giá nào</p>
                <hr>
            </div>

            <!-- ng-if: check nếu có mã thì mới repeat list -->
            <div ng-if="check_discount" class="list-discount">
                <!-- ng-repeat: list mã giảm giá -->
                <div>
                    <div class="discount-item" ng-repeat="item in list_voucher">
                        <div>
                            <h5>{{item.ma}}</h5>
                            <small>Còn: {{item.deffDay}} ngày</small>
                        </div>
                        <div>
                            <p>{{item.ten}}</p>
                            <button ng-click="useVoucher(item)">Dùng</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="result-discount" ng-if="check_discount">
                <div>
                    <h5>{{discountCode}}</h5>
                    <p>Tiền giảm: ₫{{reducedMoney}}</p>
                </div>
                <div>
                    <button id="cancel-discount">Hủy</button>
                </div>
            </div>
        </div>
    </div>
    <div class="total-pay">
        <div class="detail-pay">
            <h4>Chi tiết thanh toán</h4>
            <div>
                <p>Tổng tiền hàng: </p>
                <p id="total-money">
                    ₫{{totalMoney}}
                </p>
            </div>
            <div>
                <p>Tiền giảm: </p>
                <p id="discount-money">
                    ₫{{discountMoney}}
                </p>
            </div>
            <div>
                <p>Tổng thanh toán: </p>
                <p id="total-last-money">
                    ₫{{totalLastMoney}}
                </p>
            </div>
        </div>
        <div class="form-of-payment">
            <div>
                <input type="radio" name="payment" id="cash" value="1">
                <label for="cash">Thanh toán khi nhận hàng</label>
            </div>
            <div>
                <input type="radio" name="payment" id="transfer" value="2">
                <label for="transfer">Thanh toán online</label>
            </div>
        </div>
        <div class="button-pay">
            <button id="btn-pay">Thanh toán</button>
        </div>
    </div>
</div>

<div class="overlay-address"></div>

<div class="form-add-new-address">
    <div class="close-popup-address">
        <i class='bx bx-collapse' title="Đóng"></i>
    </div>
    <form>
        <div>
            <label for="">Họ và tên</label>
            <input type="text" id="name-new-address" name="hoten" placeholder="Họ và tên">
        </div>
        <div>
            <label for="">Số điện thoại</label>
            <input type="text" id="phone-new-address" name="sodienthoai" placeholder="Số điện thoại">
        </div>
        <div>
            <label for="">Địa chỉ</label>
            <input type="text" id="address-new-address" name="diachi" placeholder="Địa chỉ">
        </div>
        <button id="btn-new-submit">Xác nhận</button>
    </form>
</div>