.account-control {
    display: flex;
    width: 100%;
}

.menu-control {
    width: 20%;
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
    margin-right: 10px;
}

ul {
    padding: 0;

    li {
        list-style-type: none;
        margin-top: 15px;
        height: 30px;
        cursor: pointer;
    }
}

.general-menu,
.address-menu,
.order-menu,
.voucher-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &:hover {
        content: "";
        border-radius: 20px;
        background-color: rgba(75, 75, 255, 0.5);
        color: white;
    }
}

#logout {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 8px;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(80, 80, 255);
    border-radius: 10px;
    background-color: aliceblue;
    transition: all .6s;

    &:hover {
        content: "";
        background-color: rgb(170, 170, 255);
        color: white;
        transform: scale(1.05);

        .bx-log-out-circle {
            color: white;
        }
    }

    .bx-log-out-circle {
        color: black;
        font-size: 20px;
        transition: all .6s;
    }
}

.avatar {
    display: grid;
    grid-template-columns: repeat(1, auto);
    gap: 10px;
    justify-content: center;
}

.user-avatar {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 120px;
    background-color: rgb(115, 180, 240);
    border-radius: 50%;

    p {
        color: white;
        font-size: 40px;
        user-select: none;
        line-height: 100%;
    }
}

#code-client {
    text-align: center;
    font-size: 18px;
    user-select: none;
}

.content-account {
    position: relative;
    width: 80%;
    border-left: 1px solid lightgray;
}

.content-general {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;

    form {
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 40px;

        div {
            display: flex;

            label {
                width: 100px;
                display: flex;
                align-items: center;
            }

            input[type="text"] {
                width: 400px;
                padding: 6px;
                border: none;
                border-bottom: 1px solid blue;
                background-color: #F6F8FA;
                font: 16px "Times New Roman";
                outline: none;
            }
        }

        .change-password {
            justify-content: end;
            align-items: center;

            a {
                color: blue;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

                .bx-key {
                    color: blue;
                    font-size: 18px;
                }
            }
        }

        .button {
            display: flex;
            justify-content: center;
            align-items: center;

            button {
                width: 120px;
                height: 30px;
                border: 1px solid rgb(80, 80, 255);
                background-color: aliceblue;
                border-radius: 10px;
                font: 16px "Times New Roman";
                cursor: pointer;
            }
        }
    }
}

.select-menu {
    border-radius: 20px;
    background-color: rgba(0, 0, 255, 0.5) !important;
    color: white;
}

.content-address {
    display: grid;
    grid-template-columns: repeat(1, auto);
    padding: 10px;
}

.item-address {
    display: flex;
    padding: 10px;
    box-shadow: 0 0 3px 2px rgb(210, 210, 210);
    border-radius: 15px;
    margin-bottom: 15px;
    /* cursor: pointer; */
}

.view-control-default {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    width: 10%;

    .bx-map {
        color: rgb(255, 210, 50);
        font-size: 24px;
    }
}

.content-item-address {
    display: grid;
    grid-template-columns: repeat(1, auto);
    width: 80%;
}

.information-client {
    display: flex;
    gap: 60px;
    align-items: center;

    span {
        color: rgb(85, 85, 85);
    }
}

.remove-address {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;

    button {
        width: 45px;
        height: 45px;
        background-color: rgb(255, 70, 70);
        border: none;
        border-radius: 20px;
        cursor: pointer;

        .bx-trash {
            color: white;
            font-size: 20px;
        }
    }
}

.add-new-address {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#add-new-address-account {
    width: 160px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(130, 205, 255);
    color: rgb(130, 205, 255);
    background-color: white;
    cursor: pointer;
    font: 18px "Times New Roman";
    outline: none;

    &:hover {
        content: "";
        background-color: rgb(130, 205, 255);
        color: white;

        .bx-plus-circle {
            color: white;
        }
    }
}

.overlay-address {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(180, 180, 180, 0.2);
    z-index: 1;
}

.form-add-new-address {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    z-index: 2;

    form {
        display: grid;
        grid-template-columns: repeat(1, auto);
        gap: 25px;
        justify-content: center;
        align-items: center;

        div {
            display: flex;
            gap: 25px;

            label {
                width: 100px;
                display: flex;
                align-items: center;
            }

            input {
                width: 350px;
                border: none;
                border-bottom: 1px solid rgb(45, 130, 255);
                font: 16px 'Times New Roman';
                outline: none;
            }
        }

        button {
            width: 90px;
            height: 35px;
            font: 16px 'Times New Roman';
            border: none;
            border-radius: 10px;
            background-color: rgb(105, 160, 255);
            color: white;
            margin: auto;
            cursor: pointer;
        }
    }
}

.close-popup-address {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.bx-collapse {
    color: rgb(45, 135, 255);
    font-size: 24px;
    cursor: pointer;
}

.content-order {
    gap: 20px;
    max-height: 1095px;
    overflow-y: auto;
}

.content-order::-webkit-scrollbar {
    display: none;
}

.item-order {
    display: flex;
    justify-content: space-between;
    border-radius: 15px;
    background-color: #fff;
    padding: 15px;
    width: 90%;
    margin: auto;
}

.img-item {
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 80px;
        height: 80px;
    }
}

.content-item {
    display: grid;
    grid-template-columns: repeat(1, auto);
    align-items: center;
    padding-left: 50px;
    flex: 1;

    .text-content-item {
        display: flex;
        gap: 50px;

        p {
            color: darkgray;
        }
    }
}

.btn-detail-item {
    display: flex;
    justify-content: center;
    align-items: end;
    cursor: pointer;

    p {
        text-align: center;
        text-decoration: none;
        color: rgb(75, 170, 255);
        font-size: 17px;
        display: flex;
        align-items: center;
    }
}

.content-voucher {
    display: flex;
    flex-direction: column;
}

.filter-voucher {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.list-voucher {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-height: 500px;
    padding: 10px 0;
    overflow-y: auto;
}

.list-voucher::-webkit-scrollbar {
    display: none;
}

#search-voucher {
    width: 500px;
    height: 45px;
    outline: none;
    border-radius: 15px;
    border: .5px solid rgb(75, 170, 255);
    box-sizing: border-box;
    padding-left: 15px;
    font: 16px 'Times New Roman';
}

.item-voucher {
    display: flex;
    width: 85%;
    height: 120px;
    margin: auto;
    gap: 25px;
    box-sizing: border-box;
    border-radius: 20px;
    box-shadow: 0 0 3px 2px rgb(225, 225, 225);

    .img-item-vc {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 120px;
        height: 120px;
    }
}

.bxs-discount {
    font-size: 32px;
    color: rgb(75, 170, 255);
    transform: rotate(45deg);
}

.main-item-vc {
    width: 100%;
}

.content-item-vc {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;

    small {
        color: red;
    }
}

.loader {
    display: none;
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: 47%;
    left: 47%;
    border-radius: 50%;
    box-sizing: border-box;
    border-top: 5px solid #fff;
    border-left: 1px solid #fff;
    border-right: 15px solid #ff00;
    animation: loader 1.2s infinite linear;
    z-index: 2;
}

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}