.form-product {
    width: 320px;
    height: 415px;
    border-radius: 10px;
    margin: auto;
    padding: 10px;
    overflow: hidden;
    box-shadow: 0 0 3px 1px rgba(50, 50, 50, 0.3);
    background: linear-gradient(to right, rgb(245, 245, 245), rgb(225, 225, 225), rgb(245, 245, 245));

    .ribbon-wrapper {
        position: relative;
        width: 320px;
        margin-bottom: 20px;

        .ribbon {
            position: absolute;
            width: 65px;
            top: 0px;
            right: -35px;
            background-color: red;
            color: white;
            padding: 5px 15px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            transform: rotate(45deg);
            z-index: 1;

            &:hover {
                box-shadow: 0 0 3px 4px rgba(160, 160, 160, 0.3);
            }
        }
    }

    .img {
        width: 200px;
        height: 200px;
        margin: auto;
        border-radius: 5px;
        overflow: hidden;
        position: relative;

        img {
            width: 200px;
            height: 200px;
            object-fit: cover;
        }

        &:hover {
            content: '';
            box-shadow: 0 0 3px 1px rgba(50, 50, 50, 0.3);

            img {
                filter: blur(1px);
            }

            .cart {
                display: block;
            }
        }

        .cart {
            display: none;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            text-align: center;
            background: rgba(110, 110, 110, 0.5);
            padding: 10px 0;
            transition: top 1s;

            .option {
                display: flex;
                align-items: center;
                gap: 5px;
                padding: 0 2px;

                button {
                    width: 95px;
                    height: 30px;
                    border: none;
                    border-radius: 20px;
                    background-color: rgba(255, 0, 0, 0.7);
                    color: white;
                    font-family: 'Times New Roman', Times, serif;
                    font-size: 14px;

                    &:hover {
                        cursor: pointer;
                        background-color: rgba(255, 0, 0, 0.9);
                    }

                    .cartIcon {
                        width: 14px;
                        height: fit-content;
                    }

                    .cartIcon path {
                        fill: white;
                    }

                    .loveIcon {
                        width: 18px;
                        height: 18px;
                    }
                }
            }
        }
    }

    .name-product {
        text-align: center;
        margin-top: 5px;
        content: "";

        .text-name {
            content: "";
            margin: 0 auto;
        }
    }

    .infor-product {
        display: flex;
        flex-direction: column;

        .content-product {
            display: flex;
            justify-content: space-between;
        }

        .buy {
            display: flex;
            position: relative;
            justify-content: space-between;
            align-items: center;

            h3 {
                display: flex;
                align-items: center;
            }

            button {
                width: 100px;
                height: 40px;
                font-family: 'Times New Roman', Times, serif;
                border: 1px solid rgba(70, 70, 70, 0.3);
                background: linear-gradient(to left, white, rgb(255, 255, 205));
                border-radius: 8px;

                &:hover {
                    content: '';
                    background: linear-gradient(to right, white, rgb(255, 255, 205));
                    border-radius: 0;
                    cursor: pointer;
                }
            }
        }
    }
}

.show {
    display: block;
}