body {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #F6F8FA;
}

body::-webkit-scrollbar {
    display: none;
    /* Ẩn thanh cuộn trên Chrome */
}

nav {
    display: flex;
    width: 95%;
    height: 60px;
    margin: 20px auto;
    padding: 5px 10px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgb(155, 215, 255);
    box-shadow: 3px 3px 2px rgb(205, 205, 205);
    border-radius: 35px;
}

#logo-text {
    width: 90px;
    height: 50px;
    margin: 0;
    text-align: center;
    color: rgb(105, 195, 255);
    font: 35px 'Brush Script MT', cursive;
    transition: transform 0.4s ease-in;
    user-select: none;

    &:hover {
        transform: scale(1.08);
        filter: drop-shadow(6px 3px 4px rgb(200, 200, 200));
    }
}

#img-logo.selected {
    border: none;
}

#information {
    display: flex;
    gap: 15px;
}

#cart-items,
#notification,
#account {
    width: 40px;
    height: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: rgb(115, 180, 240);
    color: white;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    transition: transform 0.3s ease-in;

    &:hover {
        transform: scale(1.1);
        background-color: rgb(75, 170, 255);

    }
}

#number-cart,
#number-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 20px;
    height: 20px;
    top: -15px;
    left: 25px;
    border-radius: 50%;
    background-color: red;
    color: white;
    font: 10px 'Times New Roman';
}

#text-acc {
    color: white;
}

.link-cart,
.link-notification,
.link-account {
    text-decoration: none;
}

@keyframes ringBell {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(15deg);
    }

    50% {
        transform: rotate(-15deg);
    }

    75% {
        transform: rotate(8deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.bxs-bell-ring {
    animation: ringBell 2s ease-in-out infinite;
}

.ctrl {
    flex: 1;
}

footer {
    display: grid;
    background-color: rgb(170, 205, 230);
    padding: 10px;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    gap: 10px;
}

.footer-content {
    display: grid;
    align-items: center;
    padding: 20px;

    p {
        text-align: center;
    }
}

#logo-footer {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    margin: auto;
    transition: transform 0.4s ease-in;

    &:hover {
        transform: scale(1.1);
    }
}

.infor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
}

.policy {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

    a {
        text-decoration: none;
        color: black;

        &:hover {
            color: blue;
        }
    }

    h3 {
        color: rgb(0, 95, 0);
    }
}

span {
    color: rgb(0, 95, 0);
}

.img-footer {
    display: grid;
    width: 220px;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
    margin: auto;

    img {
        width: 95px;
        height: 95px;
        border-radius: 10px;
        transition: transform 0.5s ease;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.img-connect {
    transition: transform 0.5s ease;

    &:hover {
        transform: scale(1.2);
    }
}

.notifi {
    width: 300px;
    height: 60px;
    position: fixed;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    top: 95px;
    right: 0;
    border-radius: 15px 0 0 15px;
    background-color: white;
    box-shadow: 0 0 6px 3px rgb(200, 200, 200);
    overflow: hidden;
    z-index: 100;
}

.content-notifi {
    font: 16px 'Times New Roman';
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
}

.progress-notifi {
    height: 5px;
    transition: width 2.8s ease-in-out;
}

.progress-bar-success {
    background-color: green;
}

.progress-bar-error {
    background-color: red;
}

.notification-success {
    display: none;

    span {
        color: green;
    }
}

.notification-error {
    display: none;

    span {
        color: red;
    }
}