.list-notification {
    display: grid;
    gap: 10px;
    position: relative;
    margin-bottom: 15px;
}

h2 {
    width: 125px;
    margin: auto;
    margin-bottom: 20px;
}

.notification {
    width: 80%;
    margin: auto;
    padding: 3px 20px;
    border-bottom: .5px solid rgb(80, 185, 255);
    box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;

    &:hover {
        transform: scale(1.03);
    }
}

.detail-content {
    display: grid;
    opacity: 1;
    position: relative;
    /* background-color: rgb(225, 240, 255); */
    width: 80%;
    min-width: 300px;
    height: 250px;
    padding: 10px;
    border-bottom: 2px solid rgb(80, 185, 255);
    border-radius: 10px;
    box-shadow: 0 0 3px 1px rgb(230, 230, 230);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.claim {
    width: 80px;
    height: 35px;
    margin: auto;
    border: none;
    border-radius: 15px;
    background-color: rgb(255, 85, 85);
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
}

.no-noti {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    p {
        color: red;
        text-align: center;
        font: 16px 'Times New Roman';
    }

    hr {
        width: 80%;
    }
}