<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../style/home.css">
</head>

<body>

    <div id="introduce">

    </div>
    <div class="form-product">
        <div class="img">
            <img
                src="https://bizweb.dktcdn.net/100/446/974/products/ao-thun-mlb-basic-mega-logo-overfit-la-dodgers-blue-3atsb0433-07bls-3.jpg?v=1688360847857">
            <div class="cart">
                <div class="option">
                    <button>Thêm vào giỏ</button>
                    <button>Yêu thích</button>
                </div>
            </div>
        </div>
        <div class="name-product">
            <h4>Áo thun MLB Basic Mega</h4>
        </div>
        <div class="infor-product">
            <div class="content-product">
                <p>Chất liệu: Thun</p>
                <p>Thương hiệu: MLB</p>
                <p>Giới tính: Unisex</p>
                <p>Giá: 150,000đ</p>
            </div>
            <div class="buy">
                <button class="button">Mua ngay</button>
            </div>
        </div>
    </div>

</body>

</html>